# VITE_BASE_URL=http://localhost:5000/api/v1
# VITE_BASE_URL_PUBLICA=http://localhost:5000/publica
# VITE_URL_IMAGES_WEB=http://localhost:5000

VITE_BASE_URL=https://construirmaisbarato.com.br/api/v1
VITE_BASE_URL_PUBLICA=https://construirmaisbarato.com.br/publica
VITE_URL_IMAGES_WEB=https://construirmaisbarato.com.br