APP_PORT=5000

# SERVIDOR DB LOCAL
DB_USERNAME=admin
DB_PASSWORD=local
DB_HOST=localhost
DB_PORT=3306
DB_NAME=construirbarato

MERCADOPAGO_BASE_URL_API=https://api.mercadopago.com
MERCADOPAGO_ACCESS_TOKEN=APP_USR-8544062128879000-100219-17c782c9e069e185932e0d52ed8f07d8-2697177217

# SERVIDOR DB PRODUCAO
# DB_USERNAME=remote_user
# DB_PASSWORD=Kmslia5241a@
# DB_HOST=37.60.246.216
# DB_PORT=3306
# DB_NAME=construirbarato


# DB_USERNAME=freedb_construirmaisbarato
# DB_PASSWORD=@fhaG!jZYefk49g
# DB_HOST=sql.freedb.tech
# DB_PORT=3306
# DB_NAME=freedb_construirmaisbarato


# DB_USERNAME="agristar19"
# DB_PASSWORD="Artdem10!"
# DB_HOST="agristar19.mysql.dbaas.com.br"
# DB_PORT="3306"
# DB_NAME="agristar19"


# SERVIDOR DB WEB
# DB_USERNAME=jairinhoagend
# DB_PASSWORD=jairoconst@2024
# DB_HOST=construirbarato.mysql.uhserver.com
# DB_PORT=3306
# DB_NAME=construirbarato

# LocalhHost
DIR_UPLOAD=../files/images/upload
