# Arquivos de ambiente
.env

# Credenciais Firebase
*firebase-adminsdk*.json
*serviceAccountKey*.json

# Arquivos de lock (geral)
*.lock

# VSCode configs
.vscode/

# Executável
cmd/main

# Dependências backend
vendor
*.sum

# Arquivos de exemplo
.env.example
.gitignore
